<div>
    {{#if hasOrders }}
        <ul class="orders">
            {{#each orders}}
            <li class="orders__item">
                <h1>Order# {{ this._id }}</h1>
                <ul class="orders__products">
                    {{#each this.products}}
                    <li class="orders__products-item">{{ this.product.title }} ({{ this.quantity}}) </li>
                    {{/each}}
                </ul>
                <h1>Total $ {{ this.total }}</h1>
            </li>
            {{/each}}
        </ul>
    {{else}}
        <h1>No Orders</h1>
    {{/if}}
</div>