<div class="centered">
    <h1>{{ this.product.title }}</h1>
    <hr>
    <div>
        <img src="{{this.product.imageUrl}}" alt="{{ this.product.title }}">
    </div>
    <h2>{{ this.product.price }}</h2>
    <p>{{this.product.description}}</p>
    {{#if isAuthenticated}}
        <form action="/cart" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn">Add to Cart</button>
            <input type="hidden" name="productId" value="{{ this._id }}"/>
        </form>
    {{/if}}
</div>